body {
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1093px;
}

@font-face {
    font-family: SourceSansPro;
    src: url(./fonts/SourceSansPro-Regular.otf);
}

header {
    position: relative;
}

header a img {
    position: absolute;
    width: 167px;
    height: 29px;
    top: 35px;
    left: 171px;
}

header nav {
    position: absolute;
    width: 234px;
    height: 15px;
    right: 300px;
    top: 35px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

header nav a {
    text-decoration: none;
    color: #FFFFFF;

}

header h1 {
    position: absolute;
    width: 684px;
    height: 151px;
    top: 180px;
    left: 600px;
    font-weight: 700;
    font-size: 120px;
    line-height: 150px;
    text-align: center;
    color: #FFFFFF;
    font-family: SourceSansPro;
}


