* {
    box-sizing: border-box;
}
body {
    margin: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(./fonts/SourceSansPro-Regular.otf);
}

/* Header Section */

.header {
    background-image: url(./images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 104px;
}

.top-bar {
    height: 29px;
    margin: 35px 170px 0 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.smile-logo {
    margin-right: auto;
}

.nav-bar {
    display: flex;
    gap: 50px;
    margin: 0 50px 0 0;
    align-items: center;
    justify-content: space-between;
}

.nav-bar a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

.text-middle {
    display: flex;
    flex-direction: column;
    height: 350px;
    margin: 160px auto 0 auto;
    justify-content: flex-start;
    align-items: center;
}

.text-middle h1 {
    display: flex;
    margin: 0px auto;
    height: 151px;
    width: 100%;
    word-spacing: 25px;
    letter-spacing: 13px;
    font-weight: bold;
    font-size: 120px;
    line-height: 150px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Source Sans Pro';
    justify-content: center;
}

.text-middle p {
    display: block;
    margin: 45px auto;
    height: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    word-spacing: 75px;
    color: #FFFFFF;
    font-family: 'Source Sans Pro';
    padding-bottom: 10px;
}

.text-middle button {
    width: 190px;
    height: 50px;
    background-color: #C271FF;
    box-shadow: 0 2px 20px 0 #00000080;
    border: none;
    border-radius: 25px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Source Sans Pro';
}

.pro-section {
    display: flex;
    margin: 175px 217px 0 217px;
    height: 475px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.pro-section h2 {
    height: 40px;
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
    color: #FFFFFF;
    font-family: 'Source Sans Pro';
}

.pro-section span {
    color: #C271FF;
    font-weight: bold;
}

.pro-section .pros {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
    align-self: flex-end;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Source Sans Pro';
}

.pros img {
    border: none;
    border-radius: 75px;
}

.pros p {
    color: #FFFFFF;
    width: 172px;
    height: 48px;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-family: 'Source Sans Pro';
}

/* Testimonial Section */


.testimonial-container {
    width: 100%;
    text-align: center;
    height: 392px;
    background-color: #C271FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial {
    display: flex;
    align-items: center;
    gap: 75px;
}

.testimonial div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin: 50px;
    padding: 0;
}

.testimonial img {
    border: none;
    border-radius: 100px;

}

.quote {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: left;
    height: 68px;
    width: 69%;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
}

.name {
    font-size: 22px;
    line-height: 33px;
    font-weight: 700;
    font-family: 'Source Sans Pro';
}

.job {
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    height: 34px;
    font-family: 'Source Sans Pro';
}

/* Videos Section */

.videos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videos h1 {
    margin: 100px auto;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    font-family: 'Source Sans Pro';
}

.videos span {
    color: #C271FF;
    font-weight: bold;
}

.video-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto 100px auto;
    flex-wrap: wrap;
    padding-left: 70px;
}

.video-1 {
    display: flex;
    flex-direction: column;
    margin: 0 35px 0 0;
    position: relative;
}

.video-creator {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
    font-family: 'Source Sans Pro';
}

.video-creator img {
    display: flex;
    height: 38px;
    border-radius: 25px;
    align-items: center;
    margin: 0 0 0 10px;
}

.video-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 25px 0 15px;
    font-family: 'Source Sans Pro';
}

.video-rating img {
    margin-right: 3px;
}

.video-rating p {
    color: #C271FF;
}

.video-2 {
    display: flex;
    flex-direction: column;
    margin: 0 35px 0 0;
    position: relative;
}

.video-3 {
    display: flex;
    flex-direction: column;
    margin: 0 35px 0 0;
    position: relative;
}

.video-4 {
    display: flex;
    flex-direction: column;
    position: relative;
}

.video-title {
    margin: 20px 0 0 15px;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #071629;
}

.video-desc {
    margin: 20px 0 20px 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #071629;
    opacity: 50.16%;
    width: 75%;
    font-family: 'Source Sans Pro';
}

.play-button {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 80px;
    height: 80px;
    z-index: 1;
}

/* Membership Section */

.membership {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #071629;
}

.membership h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin: 50px auto;
    font-family: 'Source Sans Pro';
}

.membership span {
    color: #C271FF;
}

.membership-container {
    display: flex;
    flex-direction: row;
}

.membership-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    margin: 0 25px;
}

.membership-content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    width: 65%;
    text-align: center;
    font-family: 'Source Sans Pro';
}

.membership-content h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    font-family: 'Source Sans Pro';
}

.membership button {
    width: 190px;
    height: 50px;
    background-color: #C271FF;
    box-shadow: 0 2px 20px 0 #00000080;
    border: none;
    border-radius: 25px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin: 100px 0 75px 0;
    font-family: 'Source Sans Pro';
}

/* FAQ Section */

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 250px;
}

.faq h1 {
    text-align: center;
    margin: 75px 220px 0 0;
    font-weight: 300;
    font-size: 60px;
    line-height: 75px;
    font-family: 'Source Sans Pro';
}

.row {
    display: flex;
    flex-direction: row;
}

.faq-content {
    margin: 100px 0 100px 250px;
    width: 43%;
}

.faq-content h2 {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.faq-content p {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #071629;
    opacity: 50%;
}

.faq-content-2 {
    margin: 100px 100px 0 0;
    width: 45%;
}

.faq-content-2 h2 {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.faq-content-2 p {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #071629;
    opacity: 50%;
}

/* Footer Section */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #071629;
}

.footer .footer-container {
    margin: 100px 0 39px 0;
}

.footer-content {
    height: 29px;
    margin: 25px 170px 0 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials {
    width: 130px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-left: 600px;
}

.footer-copyright {
    margin-top: 100px;
    text-align: center;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    opacity: 50%;
}